body {
    font-family: 'Open Sans', sans-serif;
}

/* Start Navigation */
nav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #313131;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul a {
    width: 100%;
    text-decoration: none;
    color: inherit;
}

nav ul a li {
    width: 100%;
    height: 30px;
    padding-top: 12px;
    font-size: large;
    color: white;
}

nav ul a li:hover {
    background-color: #e1e1e1;
    color: #313131;
    cursor: pointer;
}



/* End Navigation */

.content {
    margin-left: 20%;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.report-row {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    height: 90vh;
    gap: 15px;
    width: 100%;
}

.report-item {
    border: black;
    border-style: solid;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-item a {
    font-size:x-large;
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
    outline: black;
    backdrop-filter: invert(.8);
    color: white;
}

.report-item a:hover {
    scale: 110%;
    padding: 40px;
    backdrop-filter: blur(10px);
}

.tool-item{
    margin-top: 10px;
    list-style: none;
}

table {
    border-collapse: collapse;
    margin: auto;
}
td, th {
    border: 1px solid;
    padding: 12px 15px;
}
tr:nth-child(even) {
    background-color: #e1e1e1;
}

.report-content {
    display: flex;
    justify-content: space-between;
}

.subheading {
    font-weight: bold;
    font-size: large;
}
h2 {
    text-decoration:underline; 
    margin-bottom: 1px;
}